<header>
  <nav class="navbar  navbar-static-top fixed-position" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed white-background" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Book Store</a>
      </div>

      <!-- Nav Bar -->  
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="header.isLoggedIn"><a ui-sref="profileadmin" class="header__item" >Home</a></li>
          <li ng-show="header.isLoggedIn"><a href="#" class="header__item" ng-click="header.logout()">Log out</a></li>
        </ul>

        <!-- Side Bar -->
        <ul class="nav navbar-nav side-nav sidebar ">
          <li>
            <a data-toggle="collapse" data-target="#submenu-1" class="sidebar__item"> Books<i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-1" class="collapse">
              <li><a ui-sref="createbook" class="sidebar__item"> Create</a></li>
              <li><a ui-sref="booksadmin" class="sidebar__item"> View All</a></li>
            </ul>
          </li>
          <li>
            <a data-toggle="collapse" data-target="#submenu-2" class="sidebar__item"> Publishers <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-2" class="collapse">
              <li><a ui-sref="createpublisher" class="sidebar__item"> Create</a></li>
              <li><a ui-sref="publishersadmin" class="sidebar__item"> View All</a></li>
            </ul>
          </li>
          <li>
            <a data-toggle="collapse" data-target="#submenu-3" class="sidebar__item"> Authors <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-3" class="collapse">
              <li><a ui-sref="createauthor" class="sidebar__item"> Create</a></li>
              <li><a ui-sref="authorsadmin" class="sidebar__item"> View All</a></li>
            </ul>
          </li>
          <li>
            <a data-toggle="collapse" data-target="#submenu-4" class="sidebar__item"> Categories <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-4" class="collapse">
              <li><a ui-sref="createcategory" class="sidebar__item"> Create</a></li>
              <li><a ui-sref="categoriesadmin" class="sidebar__item"> View All</a></li>
            </ul>
          </li>
          <li>
            <a data-toggle="collapse" data-target="#submenu-5" class="sidebar__item"> Languages <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-5" class="collapse">
              <li><a ui-sref="createlanguage" class="sidebar__item"> Create</a></li>
              <li><a ui-sref="languagesadmin" class="sidebar__item"> View All</a></li>
            </ul>
          </li>
          <li>
            <a data-toggle="collapse" data-target="#submenu-6" class="sidebar__item"> Users <i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-6" class="collapse">
              <li><a ui-sref="usersadmin" class="sidebar__item"> View All</a></li>
            </ul>
          </li>
        </ul>
      </div
  </nav>
</header>