@import '../../../../styles/index';

.header__item {
    font-size: em(18);
    color:  $primary-color ;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}
.navbar {
    background-color: #222 ;
    border-color:$accent-color ;
    margin-bottom: 0;
}
.navbar-nav > li > a:hover{
    background-color:$primary-color;
    color: $gray-color;
}
.navbar-brand {
    margin-left: auto; margin-right: auto; 
}
.navbar-brand{
    color: $primary-color;
    font-size: em(20);
    font-family: 'Pacifico', cursive;
}
.navbar .navbar-toggle .icon-bar {
    background-color:$accent-color;
}
.white-background{
    background-color: $primary-color;
}
.sidebar__item {
    font-size: em(18);
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

.side-nav{
    background-color: #222 ;
}

.side-nav li>a:hover{
    background-color:$primary-color;
    color: $gray-color;
}

.side-nav li>ul>li>a:hover{
    color: $gray-color;
}

.side-nav li>ul>li>a{
    text-decoration: none;
}
.side-nav li>ul>li{
    list-style:none;
}


.fixed-position{
    position: fixed;
    right: 0;
    left: 0;
}