<footer>
    <div class="container padding-top">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled menulist">
                    <li class="menulist__item"><a ui-sref="home">Home</a></li>
                    <li class="menulist__item"><a ui-sref="books">Catalog</a></li>
                    <li class="menulist__item"><a ui-sref="contact">Contact</a></li>
                    <li class="menulist__item "><a  ui-sref="signin">Sign In</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-8 ">
                <ul class="list-unstyled padding-1 ">
                    <li class="sharelist__item">
                        <a class="fa fa-instagram" href="https://www.instagram.com/" aria-hidden="true"></a>
                    </li>
                    <li class="sharelist__item">
                        <a class="fa fa-twitter" href="https://twitter.com/?lang=es" aria-hidden="true"></a>
                    </li>
                    <li class="sharelist__item">
                        <a class="fa fa-facebook-official" href="https://www.facebook.com/" aria-hidden="true"></a>
                    </li>
                    <li class="sharelist__item">
                        <a class="fa fa-pinterest" href="https://es.pinterest.com/" aria-hidden="true"></a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4">
                <ul class="list-unstyled padding-1 ">
                    <li class="sharelist__item">
                        <a class="fa fa-cc-paypal " aria-hidden="true"></a>
                    </li>
                    <li class="sharelist__item">
                        <a class="fa fa-cc-visa " aria-hidden="true"></a>
                    </li>
                    <li class="sharelist__item">
                        <a class="fa fa-cc-mastercard " aria-hidden="true"></a>
                    </li>
                    <li class="sharelist__item">
                        <a class="fa fa-cc-discover " aria-hidden="true"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>