@import '../../../../styles/index';
.menulist__item a {
    font-size: em(16);
    color: $accent-color ;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}


.sharelist__item a{
	color: $accent-color;

	text-align:center;
    font-size:25px;

}

.sharelist__item {
	text-decoration: none;
	display: inline;
	padding-right:em(17);
}
