body, input, textarea, button, select, p, a, small {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $color_gray;
    line-height: 1.7;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 30px;
    color: $color_darkgray;
    padding: 0 5px 0 5px;
    text-align: center;
}

h2 {
    font-family: 'Arvo', serif;
    font-size: 20px;
    color: $color_darkgray;
    padding: 0 5px 0 5px;
    text-align: center;
}

h3 {
    font-family: 'Arvo', serif;
    font-size: 18px;
    color: $color_darkgray;
    padding: 0 5px 0 5px;
    text-align: center;
}
