<header class="border-line">

  <nav class="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed white-background" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Book Store</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ><a class="header__item " ui-sref="home">Home</a></li>
          <li ><a class="header__item " ui-sref="books">Catalog</a></li>
          <li ><a class="header__item " ui-sref="contact">Contact</a></li>
          <li>
            <a ui-sref="cart"class="header__item"><i class="fa fa-shopping-bag" aria-hidden="true"></i>  Cart<span class="header__item--red"> ()</span></a>
          </li>
          <li ng-hide="header.isLoggedIn">
            <a class="header__item" ui-sref="signin"><i class="fa fa-user" aria-hidden="true"></i> Sign In</a>
          </li>
         <!-- <li ng-show="header.isLoggedIn"><a href="#" class="header__item ">Welcome {{ header.currentUser.name }}</a></li>-->
          <li ng-show="header.isLoggedIn"><a href="#" class="header__item" ng-click="header.logout()">Logout</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  
</header>