@import '../../../../styles/index';

.header__item {
    font-size: em(18);
    color: $accent-color ;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}
.navbar {
    background-color: $primary-color;
    border-color: $primary-color;
    margin-bottom: 0;
}
.navbar-nav > li > a:hover{
    background-color:$primary-color;
    color: $gray-color;
}
.navbar-brand {
    margin-left: auto; margin-right: auto; 
}
.navbar-brand{
    color:$accent-color;
    font-size: em(20);
    font-family: 'Pacifico', cursive;
}
.navbar .navbar-toggle .icon-bar {
    background-color:$accent-color;
}

